body
{
	font-size: medium;
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#container
{
	margin:          0 auto;
	padding-top:20px;
	width:           683px;
	position:        relative;
	background-color:  #333;
}

#content
{
	min-height:      390px;
	width:           640px;
	margin:          0 auto;
	background-color:#FDFDFD;
}

#insidecontent
{
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: large;
}





h2
{
	margin:          0px;
	font-weight:     normal;
	color:           #6A7919;
	font-size:       2.5em;
	font-family:Times;
	left:5px;
}

#ok{margin-left:500px;
width:50px;
}

#footer
{
	margin:          0 auto;
	width:           641px;
	height:          39px;

}
label{
	margin-left: 2px;
	text-align: center;
	padding-left: 20px;
	font-size: medium;
}
	/*fieldset{
		border:none;
		width:500px;
		margin:0px auto;
	}*/

#footer span
{
	display: block;
	position: relative;
	font-family: Tahoma;
	font-size: 1.2em;
	padding: 10px;
	color: #767676;
	text-align: center;
}
